.am-modal-wrap .am-modal.am-modal-transparent {
  width: 75%;
}
.am-modal-wrap .am-modal.am-modal-transparent .am-modal-content {
  border-radius: 0.24154589rem;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-header {
  margin-bottom: 20px;
  padding: 0;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-header .am-modal-title {
  font-size: 0.38647343rem;
  line-height: 1;
  color: #333;
  text-align: center;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-header .am-modal-title img {
  border-style: none;
  width: 1.69082126rem;
  height: 1.69082126rem;
  border-radius: 1.69082126rem;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-header .am-modal-title .title {
  font-size: 0.38647343rem;
  color: #333;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-body {
  color: #777;
  font-size: 0.31400966rem;
  text-align: center;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-body .content {
  line-height: 0.48309179rem;
  font-size: 0.31400966rem;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-body img {
  border-style: none;
  width: 1.69082126rem;
  height: 1.69082126rem;
  border-radius: 1.69082126rem;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-body .title {
  font-size: 0.38647343rem;
  color: #333;
  margin: 0.24154589rem 0;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-footer {
  padding-bottom: inherit;
  border-top: 1px solid #ccc;
  text-align: center;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h {
  padding: initial;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button {
  color: #777;
  font-size: 0.38647343rem;
  height: 1.20772947rem;
  line-height: 1.20772947rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-left: initial;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button:first-child {
  border-right: 1PX solid #ccc;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v {
  padding: initial;
}
.am-modal-wrap .am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v .am-modal-button {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #777;
  font-size: 0.38647343rem;
  height: 1.20772947rem;
  line-height: 1.20772947rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-left: initial;
}
.am-modal-wrap .am-modal .am-modal-content {
  padding-top: 30px;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-close {
  cursor: pointer;
  right: 0.36231884rem;
  left: inherit;
  font-size: 0.38rem;
  top: 10px;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-close .am-modal-close-x {
  background: none;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-close .am-modal-close-x:after {
  content: '\D7';
  font-size: 24px;
  color: #999;
  font-weight: 700;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-header {
  margin-bottom: 20px;
  padding: 0;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-header .am-modal-title {
  font-size: 0.38647343rem;
  line-height: 1;
  color: #333;
  text-align: center;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-header .am-modal-title img {
  border-style: none;
  width: 1.69082126rem;
  height: 1.69082126rem;
  border-radius: 1.69082126rem;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-header .am-modal-title .title {
  font-size: 0.38647343rem;
  color: #333;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-body {
  color: #777;
  font-size: 0.38647343rem;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-body .content {
  line-height: 20px;
  font-size: 0.38647343rem;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-body img {
  border-style: none;
  width: 1.69082126rem;
  height: 1.69082126rem;
  border-radius: 1.69082126rem;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-body .title {
  font-size: 0.38647343rem;
  color: #333;
  margin: 10px 0;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button {
  color: #777;
  font-size: 0.38647343rem;
  height: 1.20772947rem;
  line-height: 1.20772947rem;
}
.am-modal-wrap .am-modal .am-modal-content .am-modal-footer .am-modal-button-group-v .am-modal-button {
  color: #777;
  font-size: 0.38647343rem;
  height: 1.20772947rem;
  line-height: 1.20772947rem;
}
