.am-segment.jw-segment {
  border-radius: 0.09661836rem;
  min-height: inherit;
}
.am-segment.jw-segment .am-segment-item {
  font-size: 0.33816425rem;
  line-height: inherit;
  border: 1px solid #108ee9;
  padding: 0.14492754rem 0;
  border-right: 0;
}
.am-segment.jw-segment .am-segment-item:first-child {
  border-left-width: 1px;
  border-radius: 0.09661836rem 0 0 0.09661836rem;
}
.am-segment.jw-segment .am-segment-item:last-child {
  border-right: 1px solid;
  border-radius: 0 0.09661836rem 0.09661836rem 0;
}
