.jw-rate-w {
  width: 86%;
  margin-left: 7%;
}
.jw-rate-w .ant-rate {
  font-size: 0.48309179rem;
}
.jw-rate-w .ant-rate .ant-rate-star:last-child {
  margin-right: 0;
}
.jw-rate-w .jw-rate-number {
  font-size: 0.24154589rem;
  color: #2571fd;
}
.jw-rate-w .jw-rate-number .ant-rate-star {
  width: 0.53140097rem;
  height: 0.53140097rem;
  border: 1px solid #2571fd;
  border-radius: 100%;
  line-height: 0.53140097rem;
  text-align: center;
}
.jw-rate-w .jw-rate-number .ant-rate-star-zero {
  width: 0.53140097rem;
  height: 0.53140097rem;
  border: 1px solid #b0b0b0;
  border-radius: 100%;
}
.jw-rate-w .jw-rate-number .ant-rate-star-zero .ant-rate-star-first,
.jw-rate-w .jw-rate-number .ant-rate-star-zero .ant-rate-star-second {
  color: #b0b0b0;
}
.jw-rate-w .jw-rate-count-2 .ant-rate-star {
  margin-right: 6.84380032rem;
}
.jw-rate-w .jw-rate-count-3 .ant-rate-star {
  margin-right: 3.14009662rem;
}
.jw-rate-w .jw-rate-count-4 .ant-rate-star {
  margin-right: 1.93236715rem;
}
.jw-rate-w .jw-rate-count-5 .ant-rate-star {
  margin-right: 1.28824477rem;
}
.jw-rate-w .jw-rate-count-6 .ant-rate-star {
  margin-right: 0.92592593rem;
}
.jw-rate-w .jw-rate-count-7 .ant-rate-star {
  margin-right: 0.68438003rem;
}
.jw-rate-w .jw-rate-count-8 .ant-rate-star {
  margin-right: 0.50724638rem;
}
.jw-rate-w .jw-rate-count-9 .ant-rate-star {
  margin-right: 0.36231884rem;
}
.jw-rate-w .jw-rate-count-10 .ant-rate-star {
  margin-right: 0.28180354rem;
}
.jw-rate-w .jw-rate-count-11 .ant-rate-star {
  margin-right: 0.20128824rem;
}
