.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item {
  min-height: 1.4516129rem;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper {
  font-color: #b0b0b0;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox {
  height: 1.4516129rem;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox .am-checkbox-inner {
  right: 0;
  left: initial;
  margin-right: 0.24193548rem;
  top: 0.48387097rem;
  border: 1px solid #b0b0b0;
  width: 21px;
  height: 21px;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border: 1px solid #03a9f4;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox.am-checkbox-checked .am-checkbox-inner:after {
  position: absolute;
  display: block;
  top: 1px;
  right: 6px;
  z-index: 999;
  width: 5px;
  height: 12px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  content: " ";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox.am-checkbox-disabled .am-checkbox-inner {
  border: 1px solid #b0b0b0;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox.am-checkbox-disabled .am-checkbox-inner:after {
  border-color: #b0b0b0;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox.am-checkbox-disabled.am-checkbox-checked .am-checkbox-inner {
  border: 1px solid #03a9f4;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-thumb .am-checkbox-wrapper .am-checkbox.am-checkbox-disabled.am-checkbox-checked .am-checkbox-inner:after {
  border-color: #03a9f4;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-line .am-list-content {
  color: #b0b0b0;
  font-weight: inherit;
  margin-left: 0.24193548rem;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-line .am-list-content img {
  width: 1.20967742rem;
  height: 1.20967742rem;
  margin-right: 0.48387097rem;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-line:after {
  display: block;
  content: '';
  width: 200%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-body .am-checkbox-item.am-list-item:first-child:after {
  display: none;
}
.am-list.jw-list .am-list-body .jw-checkbox-button {
  width: auto;
  float: left;
  min-height: 1.06451613rem !important;
  margin-top: 0.36290323rem;
  margin-left: 0.36290323rem;
}
.am-list.jw-list .am-list-body .jw-checkbox-button .am-list-thumb .am-checkbox-inner {
  display: none;
}
.am-list.jw-list .am-list-body .jw-checkbox-button .am-list-line {
  padding: 0 !important;
  min-height: 1.06451613rem !important;
}
.am-list.jw-list .am-list-body .jw-checkbox-button .am-list-line .am-list-content {
  text-align: center;
  background: #fff;
  border: 0.5px solid #ccc;
  border-radius: 0.14516129rem;
  box-sizing: border-box;
  line-height: 1.06451613rem !important;
  padding: 0 0.24193548rem !important;
  margin-left: 0!important;
}
.am-list.jw-list .am-list-body .jw-checkbox-button.jw-checkbox-checked .am-list-content {
  background: #449bf5;
  color: #fff!important;
  z-index: 3;
}
.am-list .am-list-item.am-checkbox-item .am-list-thumb {
  width: 0;
  margin: 0;
}
@media screen and (max-width: 350px) {
  .am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
    top: 1.38709677rem;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 4px;
  }
  .am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-line:after {
    display: none;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .am-list.jw-list .am-list-body .jw-item.am-input-item .am-input-control input {
    padding-top: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label {
    float: initial;
    margin-right: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-control {
    flex: 1;
  }
  .am-search.jw-search .am-search-input input[type="search"] {
    height: 30px;
  }
  .am-list .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -0.23rem;
  }
}
@media screen and (min-width: 351px) and (max-width: 365px) {
  .am-search.am-search-start .am-search-input input[type="search"] {
    height: 28px;
  }
  .am-list.jw-list .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -0.05rem;
  }
  .am-list.jw-list .jw-statcked-item.am-input-item .am-input-control input {
    padding: 0.18548387rem 0;
  }
  .am-list.jw-list .jw-item .am-input-control:after {
    top: 2.4537681159rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 0.57rem;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 3px;
  }
  .am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
    top: 1.39516129rem;
  }
}
@media screen and (min-width: 366px) and (max-width: 380px) {
  .am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 6px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .am-list.jw-list .am-list-body .jw-item.am-input-item .am-input-control input {
    padding-top: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label {
    float: initial;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -2px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-control {
    flex: 1;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 2px;
  }
}
