.icon {
  display: inline-block;
  background: url('https://open.joywok.com/jma-site/Jma-Framework/mobilecsscomponents/build/images/icons.png');
  background-size: 200px;
  vertical-align: middle;
}
.icon-item-show .icon-item-show-val {
  margin-left: 5px;
  font-size: 16px;
}
.icon-item-show .icon {
  vertical-align: sub;
}
.icon-chart {
  width: 0.48387097rem;
  height: 0.48387097rem;
  background-position: 0 0;
}
.icon-chart.active,
.icon-chart:hover {
  background-position: -0.48387097rem 0;
}
.icon-like {
  width: 0.43548387rem;
  height: 0.43548387rem;
  background-position: 0 -0.50806452rem;
}
.icon-like.active,
.icon-like:hover {
  background-position: -0.48387097rem -0.50806452rem;
}
.icon-dept {
  width: 0.48387097rem;
  height: 0.48387097rem;
  background-position: 0 -0.96774194rem;
}
.icon-dept.active,
.icon-dept:hover {
  background-position: -0.65322581rem -120rem;
}
.icon-close {
  width: 0.38709677rem;
  height: 0.38709677rem;
  background-position: 0 -1.4516129rem;
}
.icon-close.active,
.icon-close:hover {
  background-position: -0.48387097rem -1.4516129rem;
}
.icon-filter {
  width: 0.43548387rem;
  height: 0.45967742rem;
  background-position: 0 -1.93548387rem;
}
.icon-filter.active,
.icon-filter:hover {
  background-position: -0.48387097rem -1.93548387rem;
}
.icon-pass {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: 0 -2.41935484rem;
}
.icon-pass.active,
.icon-pass:hover {
  background-position: -0.48387097rem -2.41935484rem;
}
.icon-no-pass {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: 0 -2.90322581rem;
}
.icon-no-pass.active,
.icon-no-pass:hover {
  background-position: -0.48387097rem -2.90322581rem;
}
.icon-as {
  width: 0.48387097rem;
  height: 0.38709677rem;
  background-position: 0 -3.38709677rem;
}
.icon-as.active,
.icon-as:hover {
  background-position: -0.48387097rem -3.38709677rem;
}
.icon-foward {
  width: 0.41129032rem;
  height: 0.45967742rem;
  background-position: 0 -3.87096774rem;
}
.icon-foward.active,
.icon-foward:hover {
  background-position: -0.48387097rem -0.48387097rem;
}
.icon-people-talk {
  width: 0.58064516rem;
  height: 0.41129032rem;
  background-position: 0 -180px;
}
.icon-people-talk.active,
.icon-people-talk:hover {
  background-position: -0.62903226rem -4.35483871rem;
}
.icon-add {
  width: 0.43548387rem;
  height: 0.43548387rem;
  background-position: 0 -4.83870968rem;
}
.icon-add.active,
.icon-add:hover {
  background-position: -0.48387097rem -4.83870968rem;
}
.icon-less {
  width: 0.48387097rem;
  height: 0.0483871rem;
  background-position: 0 -5.32258065rem;
}
.icon-less.active,
.icon-less:hover {
  background-position: -0.48387097rem -5.32258065rem;
}
.icon-application {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: 0 -5.46774194rem;
}
.icon-application.active,
.icon-application:hover {
  background-position: -0.48387097rem -5.46774194rem;
}
.icon-file {
  width: 0.53225806rem;
  height: 0.43548387rem;
  background-position: 0 -5.97580645rem;
}
.icon-file.active,
.icon-file:hover {
  background-position: -0.62903226rem -5.97580645rem;
}
.icon-address {
  width: 0.50806452rem;
  height: 0.50806452rem;
  background-position: 0 -6.43548387rem;
}
.icon-address.active,
.icon-address:hover {
  background-position: -0.62903226rem -6.43548387rem;
}
.icon-good {
  width: 0.48387097rem;
  height: 0.48387097rem;
  background-position: 0 -7.08870968rem;
}
.icon-good.active,
.icon-good:hover {
  background-position: -0.48387097rem -7.08870968rem;
}
.icon-setting {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: 0 -7.57258065rem;
}
.icon-setting.active,
.icon-setting:hover {
  background-position: -0.48387097rem -7.57258065rem;
}
.icon-search {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: -1.28225806rem 0;
}
.icon-search.active,
.icon-search:hover {
  background-position: -1.76612903rem 0;
}
.icon-msg {
  width: 0.55645161rem;
  height: 0.45967742rem;
  background-position: -1.13709677rem -0.48387097rem;
}
.icon-msg.active,
.icon-msg:hover {
  background-position: -1.76612903rem -0.48387097rem;
}
.icon-help {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: -1.28225806rem -0.96774194rem;
}
.icon-help.active,
.icon-help:hover {
  background-position: -1.76612903rem -0.96774194rem;
}
.icon-exit {
  width: 0.45967742rem;
  height: 0.45967742rem;
  background-position: -1.28225806rem -4.35483871rem;
}
.icon-exit.active,
.icon-exit:hover {
  background-position: -1.76612903rem -4.35483871rem;
}
