.am-card.am-card-full {
  border: none!important;
  padding: 0!important;
}
.am-card.am-card-full .am-card-body {
  padding: 0!important;
  border: none!important;
  font-size: 1.01449275rem;
}
.am-card.am-card-full .am-card-body .cardwrap.card1,
.am-card.am-card-full .am-card-body .cardwrap.card2,
.am-card.am-card-full .am-card-body .cardwrap.card3 {
  box-sizing: content-box;
  background: #0ab771;
  position: relative;
  overflow: hidden;
  padding: 1.44927536rem 8%;
  margin: 0 auto;
  color: #fff;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .avatar,
.am-card.am-card-full .am-card-body .cardwrap.card2 .avatar,
.am-card.am-card-full .am-card-body .cardwrap.card3 .avatar {
  float: left;
  margin-right: 1.08695652rem;
  overflow: hidden;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .avatar img,
.am-card.am-card-full .am-card-body .cardwrap.card2 .avatar img,
.am-card.am-card-full .am-card-body .cardwrap.card3 .avatar img {
  max-width: 100%;
  max-height: 100%;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .avatar.avatar-1,
.am-card.am-card-full .am-card-body .cardwrap.card2 .avatar.avatar-1,
.am-card.am-card-full .am-card-body .cardwrap.card3 .avatar.avatar-1 {
  width: 3.98550725rem;
  height: 3.98550725rem;
  border-radius: 3.98550725rem;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .avatar.avatar-2,
.am-card.am-card-full .am-card-body .cardwrap.card2 .avatar.avatar-2,
.am-card.am-card-full .am-card-body .cardwrap.card3 .avatar.avatar-2 {
  width: 4.7826087rem;
  height: 4.7826087rem;
  border-radius: 4.7826087rem;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .info,
.am-card.am-card-full .am-card-body .cardwrap.card2 .info,
.am-card.am-card-full .am-card-body .cardwrap.card3 .info {
  text-align: left;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .info .info-1,
.am-card.am-card-full .am-card-body .cardwrap.card2 .info .info-1,
.am-card.am-card-full .am-card-body .cardwrap.card3 .info .info-1,
.am-card.am-card-full .am-card-body .cardwrap.card1 .info .info-2,
.am-card.am-card-full .am-card-body .cardwrap.card2 .info .info-2,
.am-card.am-card-full .am-card-body .cardwrap.card3 .info .info-2 {
  margin-top: 0.57971014rem;
}
.am-card.am-card-full .am-card-body .cardwrap.card1 .cont,
.am-card.am-card-full .am-card-body .cardwrap.card2 .cont,
.am-card.am-card-full .am-card-body .cardwrap.card3 .cont {
  text-align: left;
  margin-top: 1.08695652rem;
}
.am-card.am-card-full .am-card-body .cardwrap.card2 {
  background: #fff !important;
  color: #333;
}
.am-card.am-card-full .am-card-body .cardwrap.card3 {
  background: #0ab771;
  color: #fff;
}
.am-card.am-card-full .am-card-body .cardwrap.card3 .avatar {
  float: none;
  margin: 0 auto;
}
.am-card.am-card-full .am-card-body .cardwrap.card3 .card-name {
  margin-top: 0.86956522rem;
  text-align: center;
}
