.am-list.jw-list .am-list-body {
  padding: 0 15px;
}
.am-list.jw-list .am-list-body .am-list-item {
  padding-left: 0;
  min-height: 3.47826087rem;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line-multiple {
  padding: 0;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line {
  position: relative;
  padding-right: 0;
  min-height: initial;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-content {
  font-size: 1.01449275rem;
  color: #333;
  line-height: 3.47826087rem;
  padding: 0;
  font-weight: bold;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-content:after {
  border-bottom: 1px solid #333;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-extra {
  font-size: 1.01449275rem;
  color: #b0b0b0;
  line-height: 3.47826087rem;
  padding: 0;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-arrow {
  width: 1.08695652rem;
  height: 1.08695652rem;
  background-position: 50% 50%;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-line:after {
  display: block;
  content: '';
  width: 200%;
  height: initial;
  position: absolute;
  top: 3.38164251rem;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-body .am-list-item .am-list-thumb img {
  width: 1.44927536rem;
  height: 1.44927536rem;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item {
  margin: 0 0.72463768rem;
  padding: 0;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item .am-list-thumb {
  position: relative;
  margin: 0;
  padding-right: 1.08695652rem;
  padding-top: 0.28985507rem;
  padding-bottom: 0.36231884rem;
  overflow: hidden;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item .am-list-thumb img {
  width: 3.62318841rem;
  height: 3.62318841rem;
  vertical-align: bottom;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item .am-list-line {
  padding-top: 0.28985507rem;
  padding-bottom: 0.36231884rem;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item .am-list-line .am-list-content {
  color: #b0b0b0;
  font-weight: inherit;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item .am-list-line:after {
  display: none;
}
.am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
  display: block;
  content: '';
  width: 200%;
  height: initial;
  position: absolute;
  top: 4.20289855rem;
  left: 0;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-body .inline-Icon.right.am-list-item {
  flex: initial;
}
.am-list.jw-list .am-list-body .inline-Icon.right.am-list-item .am-list-thumb {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: -webkit-right;
  text-align: right;
}
.am-list.jw-list .am-list-body .inline-Icon.right.am-list-item .am-list-line {
  flex: inherit;
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
}
.am-list.jw-list .am-list-body .am-list-item:last-child .am-list-thumb:after {
  display: none;
}
.am-list.jw-list .am-list-body .am-list-item:last-child .am-list-line:after {
  display: none;
}
.am-list.jw-list .am-list-body .am-list-item.hasIcon .am-list-content {
  color: #b0b0b0;
  font-weight: inherit;
}
.am-list.jw-list .am-list-body .am-list-item.hasIcon .am-list-thumb {
  margin-right: 2.17391304rem;
}
.am-list.jw-list .am-list-body .am-list-item.hasIcon .am-list-thumb img {
  vertical-align: baseline;
}
.am-list.jw-list .am-list-body:after {
  display: none;
  content: '';
  height: 200%;
  width: 200%;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 350px) {
  .am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
    top: 4.15458937rem;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 4px;
  }
  .am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-line:after {
    display: none;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .am-list.jw-list .am-list-body .jw-item.am-input-item .am-input-control input {
    padding-top: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label {
    float: initial;
    margin-right: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-control {
    flex: 1;
  }
  .am-search.jw-search .am-search-input input[type="search"] {
    height: 30px;
  }
  .am-list .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -0.23rem;
  }
}
@media screen and (min-width: 351px) and (max-width: 365px) {
  .am-search.am-search-start .am-search-input input[type="search"] {
    height: 28px;
  }
  .am-list.jw-list .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -0.05rem;
  }
  .am-list.jw-list .jw-statcked-item.am-input-item .am-input-control input {
    padding: 0.55555556rem 0;
  }
  .am-list.jw-list .jw-item .am-input-control:after {
    top: 2.4537681159rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 0.57rem;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 3px;
  }
  .am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
    top: 4.17874396rem;
  }
}
@media screen and (min-width: 366px) and (max-width: 380px) {
  .am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 6px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .am-list.jw-list .am-list-body .jw-item.am-input-item .am-input-control input {
    padding-top: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label {
    float: initial;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -2px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-control {
    flex: 1;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 2px;
  }
}
