.buttonItem {
  margin-bottom: 0.36231884rem;
}
.buttonItem .btn.am-button {
  color: #777;
  height: 1.01449275rem;
  line-height: 1.01449275rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.38647343rem;
  border: none;
}
.am-button {
  height: 1.01449275rem;
  line-height: 1.01449275rem;
  font-size: 0.33816425rem;
  border-radius: 5px;
  width: 100%;
}
.btn.am-button.am-button-active {
  background: #32a62e;
  borde-color: #32a62e;
  color: #fff;
}
.btn.am-button.am-button-primary {
  background: #157efb;
}
.btn.am-button.am-button-primary {
  color: #fff;
  background: #157efb;
}
.btn.am-button.am-button-primary.am-button-active {
  background: #046dea;
}
.btn.am-button-warning.am-button.am-button-active {
  background: #df322b;
}
.btn.am-button-warning.am-button {
  color: #fff;
  background: #eb413d;
  border: none;
}
.btn.am-button.am-button-dsabled {
  background: #b0b0b0;
}
.btn.am-button-ghost.am-button {
  color: #fff;
  background: #0ab771;
  border-color: #0ab771;
}
.btn.am-button-ghost.am-button.am-button-active {
  background: #019a5c;
}
