.jw-item {
  padding: 0.72463768rem 0;
}
.jw-item .am-input-label {
  font-size: 1.15942029rem;
  color: #333;
  font-weight: bold;
  height: 28px;
  line-height: 36px;
}
.jw-item .am-input-control {
  position: relative;
  height: 2.53623188rem;
  line-height: 2.53623188rem;
  overflow: hidden;
}
.jw-item .am-input-control input {
  display: block;
  width: 100%;
  border: none;
  font-size: 1.01449275rem;
  height: 21px;
  line-height: 20px;
  padding: 7px 0;
  box-sizing: content-box;
}
.jw-item .am-input-control:after {
  display: block;
  content: '';
  width: 200%;
  position: absolute;
  top: 2.46376812rem;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jw-item .am-input-control input::-webkit-input-placeholder {
  border: none;
  font-size: 1.15942029rem;
  color: #999;
  font-weight: 400;
}
.jw-item .am-input-control input:-moz-placeholder {
  border: none;
  font-size: 1.15942029rem;
  color: #999;
  font-weight: 400;
}
.jw-item .am-input-control input::-moz-placeholder {
  border: none;
  font-size: 1.15942029rem;
  color: #999;
  font-weight: 400;
}
.jw-statcked-item.am-input-item {
  padding: 0.72463768rem 0;
  margin-top: 5px;
  position: relative;
  display: flex;
  min-height: 2.53623188rem;
  background-color: #ffffff;
  vertical-align: middle;
  -webkit-box-align: center;
  overflow: hidden;
  transition: background-color 0.2s;
}
.jw-statcked-item.am-input-item .am-input-label {
  float: left;
  margin-right: 0.72463768rem;
  line-height: 2.53623188rem;
  height: 2.53623188rem;
  vertical-align: middle;
  color: #333;
  font-weight: bold;
  font-size: 1.15942029rem;
}
.jw-statcked-item.am-input-item .am-input-label i {
  width: 16px;
  height: 16px;
  font-size: 1.15942029rem;
  line-height: 2.22222222rem;
  display: table-cell;
}
.jw-statcked-item.am-input-item .am-input-label i:before {
  vertical-align: -0.2173913rem;
}
.jw-statcked-item.am-input-item .am-input-control {
  position: relative;
  height: 2.53623188rem;
  line-height: 2.53623188rem;
  vertical-align: middle;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.jw-statcked-item.am-input-item .am-input-control input {
  display: block;
  width: 100%;
  border: none;
  font-size: 1.01449275rem;
  height: 1.37681159rem;
  padding: 0.62801932rem 0;
  box-sizing: content-box;
  line-height: 1.37681159rem;
}
.jw-statcked-item.am-input-item .am-input-control input::-webkit-input-placeholder {
  border: none;
  color: #999;
  font-size: 1.15942029rem;
  line-height: 1.37681159rem;
  height: 1.37681159rem;
}
.jw-statcked-item.am-input-item .am-input-control input:-moz-placeholder {
  border: none;
  color: #999;
  font-size: 1.15942029rem;
  line-height: 1.37681159rem;
  height: 1.37681159rem;
}
.jw-statcked-item.am-input-item .am-input-control input::-moz-placeholder {
  border: none;
  color: #999;
  font-size: 1.15942029rem;
}
.jw-statcked-item.am-input-item:after {
  display: block;
  content: '';
  width: 200%;
  position: absolute;
  top: 3.26086957rem;
  left: 0;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-header {
  font-size: 16px;
  padding: 0px 1.44927536rem 20px;
}
.am-list.jw-list .am-list-body:after {
  display: none;
}
.am-list.jw-list .am-list-body {
  border: 0;
  padding: 0 ;
  background: #fff;
  padding: 0 0.72463768rem;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item {
  padding: 0.72463768rem 0;
  height: initial;
  line-height: 2.53623188rem;
  min-height: 2.53623188rem;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-label {
  font-size: 1.15942029rem;
  color: #333;
  font-weight: bold;
  width: initial;
  height: 2.53623188rem;
  line-height: 2.53623188rem;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-label.am-input-label-4 {
  float: left;
  min-width: 20px;
  width: inherit;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control {
  position: relative;
  height: 2.53623188rem;
  line-height: 2.53623188rem;
  overflow: hidden;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
  display: block;
  width: 100%;
  border: none;
  font-size: 1.01449275rem;
  height: 1.44927536rem;
  line-height: 1.44927536rem;
  padding: 0.55555556rem 0 0.55555556rem;
  box-sizing: content-box;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control:after {
  display: block;
  content: '';
  width: 200%;
  position: absolute;
  top: 2.41545894rem;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
  border: none;
  font-size: 1.15942029rem;
  color: #999;
  font-weight: 400;
  height: 1.44927536rem;
  line-height: 1.44927536rem;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
  border: none;
  font-size: 1.15942029rem;
  color: #999;
  font-weight: 400;
  height: 1.44927536rem;
  line-height: 1.44927536rem;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-clear {
  visibility: hidden;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  font-style: normal;
  color: #fff;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position: 2px 2px;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item.am-input-focus .am-input-clear {
  visibility: visible;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item:after {
  display: none;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item:after {
  content: '';
  width: 200%;
  display: none!important;
  position: absolute;
  top: 2.85024155rem;
  left: initial;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control:after {
  display: block;
  content: '';
  width: 200%;
  position: absolute;
  top: 2.43961353rem;
  border-bottom: 1px solid #dddddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline:before {
  display: none;
}
@media screen and (max-width: 350px) {
  .am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
    top: 4.15458937rem;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 4px;
  }
  .am-list.jw-list .am-list-body .am-checkbox-item.am-list-item .am-list-line:after {
    display: none;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
    height: 1.4rem;
    line-height: 1.4rem;
  }
  .am-list.jw-list .am-list-body .jw-item.am-input-item .am-input-control input {
    padding-top: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label {
    float: initial;
    margin-right: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-control {
    flex: 1;
  }
  .am-search.jw-search .am-search-input input[type="search"] {
    height: 30px;
  }
  .am-list .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -0.23rem;
  }
}
@media screen and (min-width: 351px) and (max-width: 365px) {
  .am-search.am-search-start .am-search-input input[type="search"] {
    height: 28px;
  }
  .am-list.jw-list .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -0.05rem;
  }
  .am-list.jw-list .jw-statcked-item.am-input-item .am-input-control input {
    padding: 0.55555556rem 0;
  }
  .am-list.jw-list .jw-item .am-input-control:after {
    top: 2.4537681159rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 0.57rem;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 3px;
  }
  .am-list.jw-list .am-list-body .inline-Icon.am-list-item:after {
    top: 4.17874396rem;
  }
}
@media screen and (min-width: 366px) and (max-width: 380px) {
  .am-list.jw-list .am-list-body .am-list-item.am-input-item.jw-inline .am-input-control input {
    padding-top: 7px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
    padding-top: 6px;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input::-webkit-input-placeholder {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input:-moz-placeholder {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .am-list.jw-list .am-list-body .jw-item.am-input-item .am-input-control input {
    padding-top: 5px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label {
    float: initial;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-label i:before {
    vertical-align: -2px;
  }
  .am-list.jw-list .am-list-body .jw-statcked-item.am-input-item .am-input-control {
    flex: 1;
  }
  .am-list.jw-list .am-list-body .hasIcon.am-list-item .am-list-thumb img {
    vertical-align: 2px;
  }
}
